@import url("./styles/reset.css");
@import url("./styles/nav.css");

.hero-page {
  background-image: url(images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1440px;
  margin: auto;
}
.nav-list {
  list-style: none;
}

.hero-section {
  display: flex;
  flex-direction: column;
  padding: 0 165px;
  margin: 100px auto auto;
}

.hero-content-wrapper {
  display: flex;
  justify-content: space-between;
}

.hero-content {
  display: flex;
  gap: 32px;
  flex-direction: column;
}

.hero-content-title {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
  color: #18191f;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 70px;
}

.hero-button {
  width: 154px;
  height: 48px;
  background: #8c30f5;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  border-radius: 6px;
  border: 0px;
  cursor: pointer;
}

.hero-section-logos {
  display: flex;
  gap: 65px;
  align-items: center;
  justify-content: center;
  height: 110px;
  border-bottom: 1px solid rgba(192, 204, 218, 0.1);
  border-top: 1px solid rgba(192, 204, 218, 0.1);
}
