* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    
}

.hero-page{
    background-image: url(images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1440px;
    margin: auto;
    
}

.nav-bars{    
    display: flex;
    margin: auto;
    height: 72px;
    justify-content: space-between;
    align-items: center;
    padding: 0 165px;    
    
}

.nav-list{
    list-style: none;
}
.left-nav{
    display: flex;
    gap: 32px;
    align-items: center;     
    
}
.nav-link-text{
    text-decoration: none;  
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;  
    color: #18191F;
}

.right-nav{
    display: flex;
    gap: 12px;    
    align-items: center;    
}