.footer {
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}

.footer::before {
  content: "";
  background-color: #0b0d17;
  position: absolute;
  top: 0;
  left: -15vw;
  right: -15vw;
  margin: 0 auto;
  height: 100%;
  max-width: 99vw;
  z-index: -1;
}

.footer-links1 {
  display: flex;
  margin-top: 25px;
  margin-bottom: 15px;
  gap: 25px;
}
.footer-links2 {
  display: flex;
  gap: 25px;
}
.footer-list {
  list-style: none;
}

.footer-list-text {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}

.footer-bottom {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #d9dbe1;
  margin-top: 25px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #d9dbe1;
}
