.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}

.nav-list {
  list-style: none;
}

.left-nav {
  display: flex;
  gap: 32px;
  align-items: center;
}

.drop-down-menu {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-link-text {
  text-decoration: none;
  font-size: 14px;
  color: #18191f;
}

.right-nav {
  display: flex;
  gap: 12px;
  align-items: center;
}
