.testimonial-section {
  background-color: #d5fafc;
  display: flex;
  align-items: center;
  justify-content: center;

}

.testimonial-part1 {
  height: 100%;
  gap: 25px;
  display: flex;
  flex-direction: column;
}

.testimonial-part2 {
  height: 100%;
  gap: 35px;
  display: flex;
  flex-direction: column
}

.quote-logo {
  position: absolute;
  opacity: 0.3;
}
.testimonial-head {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 8px;
}

.testimonial-title {
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #18191f;
}

.testimonial-title-content {
  font-weight: 400;
  font-size: 18px;
  color: #18191f;
}

.testimonial-logo {
  margin: 35px;
}

.quote-logo2 {
  margin-left: 32px;
  margin-top: 104px;
  position: absolute;
  opacity: 0.3;
}

.testimonial-content {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #18191f;
}
.testimonial-writer {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #18191f;
}
.testimonial-writerposition {
  font-size: 14px;
  line-height: 24px;
  color: #969bab;
}

.testimonial-card {
  background: #ffffff;
  border-radius: 8px;
}

.card-one {
  max-width: 350px;
}

.card-two {
  max-width: 445px;
}

.card-three {
  max-width: 350px;
}

